.people-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center; 
}

.about-us-section {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.about-us-section-header {
    font-family: "Bebas Neue", serif;
    font-size: 6rem;
    font-weight: 400;
}

.narrow-coach-bio {
    width: 30%;
}

