#services-title-section {
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: var(--color-blue-a-bit-transparent);

    /* background-image: url("../images/backgrounds/support.avif");
    background-position-y: calc(50% + 100px); */

    background-image: url("../images/backgrounds/support2.avif");
    background-position-y: calc(50% + 20px);
    /* background-image: url("../images/backgrounds/jellyfish.jpg");
    background-position-y: calc(50% - 50px ); */

    padding: 70px 0 150px 0;
    
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 150px), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 150px), 0% 100%);
}

#services-title-diagonal-strip {
    background-color: var(--color-highlight);
    height: 200px;
    z-index: 2;

    /* Create a diagonal top edge that mirrors the first div */
    clip-path: polygon(0% 150px, 100% 0%, 100% 10px, 0% 100%);
    -webkit-clip-path: polygon(0% 150px, 100% 0%, 100% 10px, 0% 100%);

    margin-top: -150px;
    /* Pulls it up to align */
}

#services-summary-section {
    margin-bottom: 100px;
}

#services-summary-section .section-content-column {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.bubble-group {
    margin-top: 35px;
    margin-bottom: 5px;
}

.bubble {
    display: inline-block;
    cursor: pointer;
    transition: background 0.1s;
}

.bubble:hover {
    background-color: var(--color-blue-a-bit-transparent);
}

.bubble.active {
    background: var(--color-light);
}

.bubble-details {
    background-color: var(--color-light);
    border-style: solid;
    padding: 5px 20px;
    margin-bottom: 30px;
}

.bubble-details > p {
    margin: 0;
}

.service-meta-dropdown-group {
    margin-top: 25px;
    margin-bottom: 40px;
}

#motivation-section {
    background-color: var(--color-light-a-bit-transparent);
    color: var(--color-dark);
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 10vw, 100% calc(100% - 10vw), 0% 100%);
    padding: 100px 0 120px 0;
    text-align: center;
    z-index: 10;
    position: relative;
}

#motivation-section .cta-button {
    margin-top: 60px;
}

#services-details-section {
    margin: 80px 0;
}

.equal-cols {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.equal-cols .mycard-content-block {
    width: 40%;
}

#services-details-section .cta-button {
    margin-bottom: 20px;
}

/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media screen and (min-width: 600px) {

    
}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media screen and (min-width: 768px) {
    #motivation-section {
        padding: 150px 0 200px 0;
    }

    .content {
        padding: 0 35px 0 35px;
    }

    #services-details-section .cta-button {
        margin-top: 20px;
        margin-bottom: 60px;
    }
}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media screen and (min-width: 992px) {

      
}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media screen and (min-width: 1200px) {


}