:root {
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-gecko: rgb(62, 195, 220);
    --color-gecko-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-gecko-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-2: #F2C12E;
    --color-highlight-2: #8FDC3E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius: 0px;

    --title-font: "Bebas Neue", serif;
    --subtitle-font: "Roboto Condensed", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;

}

#people-grid-section .mycard-content {
    align-items: center;
}

#people-grid-section .section-content-column {
    max-width: 100%;
    margin-top: 150px;
    width: 90%;
}

.staff-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.staff-card .name {
    font-family: var(--title-font);
    font-size: 3rem;
}

.staff-card .profile-pic {
    max-height: 286px;
    max-width: 286px;
}

.staff-card img {
    width: 286px;
    height: 286px;
}

.staff-card .roles {
    font-size: 1.5rem;
}

.staff-card .discord-username {
    color: #7785cc;
}

.staff-card .location {

}

.staff-card .person-details {
    padding: 0 20px;
    width: 100%;
}

.staff-card ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
}

.staff-card .person-details .fa-icon {
    min-width: 2rem;
    text-align: center;
}

.staff-card {
    position: relative;
    /* To allow child elements to be positioned relative to this container */
    align-items: center;
    background-color: var(--color-light-a-bit-transparent);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Adjust spacing if needed */
    justify-content: flex-start;
    padding: 0 0 20px 0 ;
    text-align: left;
    width: fit-content;
    overflow: hidden;
    /* To prevent overflow issues */
    transition: background-color 0.3s, color 0.3s;
}

.benefit-icon,
.benefit-label {
    transition: opacity 0.3s;
    /* Smooth transition for fading out */
}

.staff-card .people-quote {
    align-items: center;
    background-color: var(--color-light-a-bit-transparent);
    box-sizing: border-box;
    color: var(--color-dark);
    display: flex;
    font-size: 1.5rem;
    font-style: italic;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    /* Hidden by default */
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.3s;
    /* Smooth fade-in */
    width: 100%;
}

.staff-card:hover .profile-pic,
.staff-card:hover .person-details {
    opacity: 0;
    /* Fade out icon and label */
}

.staff-card:hover .people-quote {
    opacity: 1;
    /* Fade in the quote */
}

