:root {
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-gecko: rgb(62, 195, 220);
    --color-gecko-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-gecko-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-2: #F2C12E;
    --color-highlight-2: #8FDC3E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius: 0px;

    --title-font: "Bebas Neue", serif;
    --subtitle-font: "Roboto Condensed", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;

}

body {
    background-color: var(--color-dark);
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-size: 1.2rem;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle farthest-corner at top left, rgba(18, 35, 56, 1), rgba(8, 22, 40, 0) 50%),
        radial-gradient(ellipse at center, rgba(30, 58, 95, 1) 0%, rgba(30, 58, 95, 0) 60%),
        radial-gradient(circle at bottom left, var(--color-gecko) 0%, rgba(143, 220, 62, 0) 60%),
        radial-gradient(circle at bottom center, var(--color-gecko) 0%, rgba(143, 220, 62, 0) 60%),
        radial-gradient(circle at bottom right, var(--color-gecko) 0%, rgba(143, 220, 62, 0) 60%);
    z-index: -1;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

img {
    pointer-events: none;
}

hr {
    background-color: var(--color-light);
    color: var(--color-light);
    height: 2px;
    margin: 60px 0;
    padding: 0;
    width: 100%;
}

/* Includes header, body and footer - basically the entire page, but to alow separate formatting from body for background overlay */
.page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.highlight-text {
    color: var(--color-highlight);
}

.highlight-text-gecko {
    color: var(--color-gecko);
}

.highlight-text-green {
    color: var(--color-highlight);
}

/******************************************************************************************/
/* BUTTONS */
/******************************************************************************************/
.cta-button {
    display: flex;
    align-items: center;
    background-color: var(--color-highlight);
    border-radius: 5px;
    color: var(--color-dark);
    font-family: var(--cta-font);
    font-size: 1.5rem;
    font-weight: bold;
    gap: 10px;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    text-wrap: nowrap;
    width: fit-content;
}

.info-button {
    background-color: var(--color-dark);
    color: var(--color-highlight-2);
}

.cta-button:hover {
    background-color: var(--color-gecko);
    color: var(--color-dark);
}

.cta-button:active {
    background-color: var(--color-dark);
    color: var(--color-highlight);
}

#hideable-cta-button-text {
    display: block;
}

.mycard .cta-button {
    font-size: 2.5rem;
    padding: 10px 30px;
}

.header-button {
    padding: 10px 20px;
    align-self: center;
}

.menu-button {
    align-self: center;
    color: var(--color-dark);
    font-family: var(--title-font);
    font-size: 1.8rem;
    height: auto;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 2px 5px;
}

.menu-button:hover {
    background-color: var(--color-neutral);
}

.footer-button {
    display: flex;
    align-items: center;
    border-radius: 0;
    font-size: 2.5rem;
    justify-content: center;
    width: 100%;
}

/******************************************************************************************/
/* PAGE STRUCTURE */
/******************************************************************************************/
.page-header {
    background-color: var(--color-light);
    border-bottom: var(--color-dark);
    border-style: solid;
    border-width: 0 0 4px 0;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Everything between the header and footer */
.page-body {
    flex-grow: 1;
    /* Fill available space between header and footer */
    padding: 70px 0;
}

.page-footer {
    background-color: var(--color-dark);
    padding: 40px 0 20px 0;
    width: 100%;
}

.section-content-column {
    min-width: 600px;
    max-width: 1024px;
    width: 80%;
    margin: auto
}

.col-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 600px;
    max-width: 1024px;
    width: 100%;
    margin: auto
}



/******************************************************************************************/
/* HEADER */
/******************************************************************************************/
#header-mynavbar {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

/* Left Branding Block (Logo + Name) */
#header-company-branding-block {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 2%;
}

#header-company-logo {
    box-sizing: content-box;
    height: 5rem;
    width: 5rem;
    padding-left: 20px;
}

#header-company-name {
    font-family: var(--title-font);
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    text-wrap: nowrap;
    padding-top: 4px;
}

#header-company-branding-and-hamburger {
    display: flex;
    justify-content: space-between;
}

/* Menu Buttons */
#header-menu-buttons {
    display: none;
    flex-wrap: nowrap;
}

#mynavbar-button-text-group {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

/* Space Filler */
#header-space-filler {
    display: none;
    flex-grow: 1;
}

/* Join Button */
#mynavbar-join-button {
    display: none;
    margin-right: 20px;
}

/* Hamburger Menu */
.mynavbar-hamburger {
    display: flex;
    align-items: center;
    font-size: 6rem;
    padding: 0px 10px 0 10px;
    margin-right: 20px;
}

.mynavbar-hamburger:hover {
    background-color: var(--color-neutral);
}

#mynavbar-hamburger-open {
    display: none;
}


/* When the hamburger button is clicked, i.e. menu open */
.page-header.responsive {
    padding-bottom: 5px;
}

.mynavbar.responsive {
    flex-direction: column;
}

.mynavbar.responsive #header-menu-buttons {
    display: flex;
    flex-direction: column;
}

.mynavbar.responsive #header-menu-buttons>.menu-button {
    box-sizing: border-box;
    padding-left: 80px;
    text-align: left;
    font-size: 5rem;
    width: 100%;
}

.mynavbar.responsive #mynavbar-hamburger-open {
    display: flex;
}

.mynavbar.responsive #mynavbar-hamburger-closed {
    display: none;
}

.mynavbar.responsive #mynavbar-join-button {
    box-sizing: border-box;
    border-radius: 0;
    display: flex;
    font-size: 3rem;
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

/******************************************************************************************/
/* BODY */
/******************************************************************************************/

.page-title-section {
    color: var(--color-light);
    font-family: var(--subtitle-font);
    padding: 60px 0;
}

#what-we-do-section {
    background: linear-gradient(45deg, var(--color-dark-transparent), var(--color-gecko-transparent));
    padding: 50px 0;
}

#benefits-section {
    padding: 120px 0;
}

#services-section {
    background: linear-gradient(45deg, var(--color-dark-transparent), var(--color-gecko-transparent));
    padding: 120px 0;
}

#testimonials-section {
    padding: 120px 0;
}

.page-title-section hr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border-style: none;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#tagline-title {
    font-size: 6rem;
    margin-bottom: 30px;

}

#tagline-subtitle {
    font-size: 3rem;
    margin-bottom: 100px;
}

.section {
    padding: 0px 0;
}

.section-title {
    color: var(--color-light);
    font-family: var(--subtitle-font);
    font-size: 6rem;
    padding: 0;
    margin-bottom: 60px;
    text-align: center;
}

/* mycards */
.mycard {
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    width: 100%;
}

.c1 {
    min-width: 600px;
}

.spaced-content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mycard-content {
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

.mycard-title.dark-bg {
    background-color: var(--color-dark-transparent);
}

.mycard-content-block.dark-bg {
    background-color: var(--color-dark-transparent);
}

.mycard-title {
    /* background-color: var(--color-dark-transparent); */
    font-family: var(--title-font);
    font-size: 3.25rem;
    padding: 4px 12px 0 12px;
}

.mycard-stat-box {
    align-content: center;
    background-color: var(--color-dark-transparent);
    flex-grow: 1;
    font-family: var(--title-font);
    font-size: 3rem;
    padding: 4px 12px 0 12px;
}

.mycard-stat-box br {
    display: none;
}

.title-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.mycard-content-block>p {
    /* background-color: var(--color-dark-transparent); */
    padding: 6px;
}

.border-mycard {
    border-color: var(--color-light);
}

.bg-mycard {
    background-color: var(--color-light-transparent);
    border-color: transparent;
}

.clear-mycard {
    border-style: none;
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.centred-mycard {
    text-align: center;
}

#group-coaching-service-mycard {
    border-color: var(--color-highlight-2);
    border-style: solid;
    border-width: 8px;
}

#personal-coaching-service-mycard {
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
}

#facilitator-training-service-mycard {
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
}

/* mycard Content */
.bubble-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    margin-top: 15px;

}

.bubble {
    background-color: var(--color-gecko-a-bit-transparent);
    padding: 2px 7px;
    text-wrap: nowrap;
}

.service-icon {
    padding-right: 5px;
    font-size: 2.5rem;
}

.service-buttons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

.service-buttons>.cta-button {
    width: 50%;
}

.testimonial {
    font-size: 2rem;
    font-style: italic;
    text-align: left;
    padding: 0 120px;
}

#testimonials-section hr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    border-style: none;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#testimonials-section .mycard {
    padding: 0;
}

.testimonial-author {
    text-align: right;
    padding-right: 80px;
}

.carousel-control-prev {
    justify-content: left;
}

.carousel-control-next {
    justify-content: right;
}

/* mycard Grid */
.benefit-grid {
    align-items: stretch;
    display: grid;
    gap: 30px;
    padding: 10px 40px;
    justify-items: center;
}

.benefit-grid>* {
    padding: 1rem;
}

.benefit-item {
    position: relative;
    /* To allow child elements to be positioned relative to this container */
    align-items: center;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 10px;
    /* Adjust spacing if needed */
    justify-content: center;
    padding: 30px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    /* To prevent overflow issues */
    transition: background-color 0.3s, color 0.3s;
}

.benefit-icon,
.benefit-label {
    transition: opacity 0.3s;
    /* Smooth transition for fading out */
}

.benefit-quote {
    align-items: center;
    background-color: var(--color-light-a-bit-transparent);
    box-sizing: border-box;
    color: var(--color-dark);
    display: flex;
    font-size: 1.5rem;
    font-style: italic;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    /* Hidden by default */
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.3s;
    /* Smooth fade-in */
    width: 100%;
}

.benefit-item:hover .benefit-icon,
.benefit-item:hover .benefit-label {
    opacity: 0;
    /* Fade out icon and label */
}

.benefit-item:hover .benefit-quote {
    opacity: 1;
    /* Fade in the quote */
}


.benefit-item-even {
    color: var(--color-gecko);
}

.benefit-item-odd {
    color: var(--color-highlight);
}

.benefit-label>br {
    display: none;
}

.benefit-item:hover .benefit-label {
    color: var(--color-transparent)
}

.small-mycard-text {
    font-size: 1.5rem;
}

.medium-mycard-text {
    font-size: 3rem;
}

.large-mycard-text {
    font-size: 5rem;
}

#challenges-text {
    margin-top: 70px;
}

.mycard-title-group {
    background-color: var(--color-dark-transparent);
    display: flex;
    justify-content: space-between;
}

@media (min-width:992px) {
    #header-company-name {
        font-size: 4rem;
    }

    #header-company-logo {
        width: 4rem;
        height: 4rem;
    }

    #mynavbar-join-button {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width:1200px) {
    
    /* Switch to 3 column grid */
    .benefit-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .benefit-item {
        position: relative;
        /* To allow child elements to be positioned relative to this container */
        align-items: center;
        background-color: var(--color-dark-a-bit-transparent);
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        gap: 30px;
        justify-content: center;
        padding: 30px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        /* To prevent overflow issues */
        transition: background-color 0.3s, color 0.3s;

        padding: 50px 10px 40px 10px;
    }

    .benefit-label>br {
        display: block;
    }
}

/******************************************************************************************/
/* FOOTER */
/******************************************************************************************/
#footer-columns {
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 0;
}

#social-media {
    display: flex;
    font-size: 2.5rem;
    flex-wrap: nowrap;
    gap: 20px;
    margin: auto;
    margin-top: 30px;
}

.social-button {
    color: var(--color-light);
}

.social-button:hover {
    color: var(--color-gecko);
}


.copyright-notice {
    color: var(--color-light);
    text-align: center;
}

#admin-links {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    margin-bottom: 10px;
}

#admin-links a {
    color: var(--color-gecko);
}

#admin-links a:hover {
    color: var(--color-highlight);
}

/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media only screen and (min-width: 600px) {}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media only screen and (min-width: 768px) {}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media only screen and (min-width: 992px) {
    .mynavbar-hamburger {
        display: none;
    }

    #header-menu-buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-left: 2%;
        margin-top: 15px;
    }

    #header-space-filler {
        display: block;
    }

    #mynavbar-join-button {
        display: flex;
    }

    #hideable-cta-button-text {
        display: none;
    }
}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media only screen and (min-width: 1200px) {
    .spaced-content {
        height: 100%;
    }

    .col-2 {
        flex-direction: row;
    }

    .c2 {
        max-width: 300px;
    }

    .mycard-stat-box br {
        display: block;
    }

    #hideable-cta-button-text {
        display: block;
    }
}