:root {
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-gecko: rgb(62, 195, 220);
    --color-gecko-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-gecko-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-2: #8FDC3E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius-small: 5px;
    --corner-radius-medium: 10px;
    --corner-radius-big: 15px;

    --title-font: "Bebas Neue", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;
}

.collapsible {
    background-color: var(--color-light-a-bit-transparent);
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--color-gecko);
    border-radius: var(--corner-radius-big);
    border-width: 6px;
    color: var(--color-dark);
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    padding: 18px;
    text-align: left;
    transition: background-color 0.3s ease;
    width: 100%;
}

.collapsible:hover, .collapsible.active {
    background-color: var(--color-light);
}

.collapsible.active {
    border-radius: var(--corner-radius-big) var(--corner-radius-big) 0 0;
}

.content {
    background-color: var(--color-gecko-transparent);
    border-radius: 0 0 var(--corner-radius-big) var(--corner-radius-big);
    color: var(--color-light);
    height: 0;
    overflow: hidden;
    padding: 0 18px;
    text-align: left;
    transition: height 0.3s ease-out, padding 0.3s ease-out;
}

.collapsible.active + .content {
    height: auto;
    padding: 15px;
}

.collapsible:after {
    content: '+';
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-dark);
    float: right;
    margin-left: 5px;
    margin-right: 15px;
}

.collapsible.active:after {
    content: "-";
}
