#support-us-title-section {
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: var(--color-blue-a-bit-transparent);

    /* background-image: url("../images/backgrounds/support.avif");
    background-position-y: calc(50% + 100px); */

    /* background-image: url("../images/backgrounds/support2.avif"); */
    /* background-position-y: calc(50% + 20px); */

    /* background-image: url("../images/backgrounds/jellyfish.jpg");
    background-position-y: calc(50% - 50px); */

    /* background-image: url("../images/backgrounds/support3.avif");
    background-position-y: calc(50% - 50px); */

    /* background-image: url("../images/backgrounds/support4.avif");
    background-position-y: calc(50% - 50px); */

    /* background-image: url("../images/backgrounds/support5.avif");
    background-position-y: calc(50% - 130px); */

    background-image: url("../images/backgrounds/support6.avif");
    background-position-y: calc(50% - 0px);

    /* background-image: url("../images/backgrounds/support7.avif");
    background-position-y: calc(50% - 35px); */

    /* background-image: url("../images/backgrounds/support8.avif");
    background-position-y: calc(50% + 25px); */

    padding: 70px 0 150px 0;

    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 150px), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 150px), 0% 100%);
}

#support-us-title-diagonal-strip {
    background-color: var(--color-highlight);
    height: 200px;
    z-index: 2;

    /* Create a diagonal top edge that mirrors the first div */
    clip-path: polygon(0% 150px, 100% 0%, 100% 10px, 0% 100%);
    -webkit-clip-path: polygon(0% 150px, 100% 0%, 100% 10px, 0% 100%);

    margin-top: -150px;
    /* Pulls it up to align */
}

.support-options-section .mycard-content-block {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-light-transparent);
}

#support-intro {
    text-align: center;
    margin: 0 50px;
}

.benefit-item:hover {
    cursor: pointer;
}

.benefit-item:active .support-role-description {
    background-color: var(--color-blue);
}

.fa-icon {
    width: 6rem;
    text-align: center;
}

#support-section {
    margin-bottom: 100px;
}


/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media only screen and (min-width: 600px) {
}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media only screen and (min-width: 768px) {
    #support-section {
        margin-top: 50px;
    }
}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media only screen and (min-width: 992px) {

}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media only screen and (min-width: 1200px) {

}