:root {
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-gecko: rgb(62, 195, 220);
    --color-gecko-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-gecko-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-2: #8FDC3E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius-small: 5px;
    --corner-radius-medium: 10px;
    --corner-radius-big: 15px;

    --title-font: "Bebas Neue", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;
}

