:root {
    --color-link: #3285ff;
    --color-bg-light: rgb(0, 170, 202, 0.8);
    --color-bg-dark: #1e3a5f;
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-blue: rgb(62, 195, 220);
    --color-blue-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-blue-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-gold: #F2C12E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius-small: 5px;
    --corner-radius-medium: 10px;
    --corner-radius-big: 25px;

    --title-font: 'Bebas Neue', sans-serif;
    --body-font: 'Inter', sans-serif;
    --cta-font: 'Inter', sans-serif;
}

body {
    box-sizing: border-box;
    color: var(--color-light);
    height: auto;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-highlight);
}

img {
    pointer-events: none;
}

hr {
    background-color: var(--color-light);
    color: var(--color-light);
    height: 2px;
    margin: 60px 0;
    padding: 0;
    width: 100%;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-light);
    -webkit-border-radius: var(--corner-radius-medium);
    border-radius: var(--corner-radius-medium);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: var(--corner-radius-medium);
    border-radius: var(--corner-radius-medium);
    background: var(--color-dark-transparent);
}

/* Includes header, body and footer - basically the entire page, but to alow separate formatting from body for background overlay */
.page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.highlight-text-blue {
    color: var(--color-blue);
}

.highlight-text-green {
    color: var(--color-highlight);
}

/******************************************************************************************/
/* PAGE STRUCTURE */
/******************************************************************************************/
.page-header {
    align-items: flex-start;
    background-color: var(--color-light);
    border-color: var(--color-dark);
    border-bottom-style: solid;
    border-width: 4px;
    display: flex;
    height: 80px;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Everything between the header and footer */
.page-body {
    flex-grow: 1;
    /* Fill available space between header and footer */
    padding: 0;
}

.page-footer {
    background-color: var(--color-dark);
    padding: 40px 0 20px 0;
    width: 100%;
}

.section-content-column {
    width: 100%;
    margin: auto
}

.col-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1024px;
    width: 100%;
    margin: auto
}

.col-2-even {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1024px;
    width: 100%;
    margin: auto
}




/******************************************************************************************/
/* HEADER */
/******************************************************************************************/
#header-mynavbar {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding-top: 5px;
    position: absolute;
    width: 100%;
    max-width: 1450px;
}

/* Left Branding Block (Logo + Name) */
#header-company-branding-block {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 2%;

}

#header-company-logo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    padding-left: 20px;
    justify-content: space-between;
}

#header-company-name {
    color: var(--color-dark);
    text-wrap: nowrap;
    padding-top: 4px;
}

#header-company-branding-and-hamburger {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Space Filler */
#header-space-filler {
    display: none;
    flex-grow: 1;
}

/* Hamburger Menu */
.mynavbar-hamburger {
    color: var(--color-dark);
    display: flex;
    align-items: center;
    padding: 0px 2rem;
    margin-right: 20px;
}

.mynavbar-hamburger:hover {
    background-color: var(--color-neutral);
    color: var(--color-dark);
}

#mynavbar-hamburger-open {
    display: none;
}

#toggle-menu {
    margin-right: 0;
}

/* When the hamburger button is clicked, i.e. menu open */
.page-header.responsive {
    padding-bottom: 5px;
}

.mynavbar.responsive {
    background-color: var(--color-light);
    border-color: var(--color-dark);
    flex-direction: column;
}

.mynavbar.responsive #header-menu-buttons {
    display: flex;
    flex-direction: column;
}

.mynavbar.responsive #header-menu-buttons>.menu-button {
    box-sizing: border-box;
    padding-left: 80px;
    text-align: left;
    width: 100%;
}

.mynavbar.responsive #mynavbar-hamburger-open {
    display: flex;
}

.mynavbar.responsive #mynavbar-hamburger-closed {
    display: none;
}

.mynavbar.responsive #mynavbar-join-button {
    box-sizing: border-box;
    border-radius: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

/******************************************************************************************/
/* BODY */
/******************************************************************************************/

.page-title-section {
    padding: 60px 0;
}

.page-content hr,
.page-title-section hr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border-style: none;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.section {
    padding: 20px 0;
}

.section-bg {
    color: var(--color-dark);
}

.section-title {
    padding: 0;
    padding-bottom: calc(30px + 2vw);
    text-align: center;
}

.cta-button {
    font-family: var(--cta-font);
    font-size: 22px;
    font-weight: bold;
}

/* mycards */
.mycard {
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    width: 100%;
}

.spaced-content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mycard-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: 100%;
}

.mycard-title {
    padding: 4px 20px 0 20px;
}

.no-border {
    border-style: none;
}

.mycard-title.background {
    background-color: var(--color-light-a-bit-transparent);
    color: var(--color-dark);
}

.mycard-content-block.dark-bg {
    background-color: var(--color-dark-transparent);
}

.title-group {
    border-color: var(--color-dark);
    border-style: solid;
    border-width: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.mycard-content-block>p {
    padding: 6px 20px;
}

.border-mycard {
    border-color: var(--color-light);
}

.bg-mycard {
    background-color: var(--color-light-a-bit-transparent);
    border-color: transparent;
    color: var(--color-dark);
}

.clear-mycard {
    border-style: none;
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.centred-mycard {
    text-align: center;
}

#personal-coaching-service-mycard {
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
}

#facilitator-training-service-mycard {
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
}

/* mycard Content */
.bubble-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 30px;

}

.bubble {
    border-radius: var(--corner-radius-big);
    /* background-color: var(--color-dark-a-bit-transparent); */
    border-color: var(--color-dark);
    border-style: solid;
    border-width: 3px;
    color: var(--color-dark);
    padding: 2px 20px;
    text-wrap: nowrap;
}

.best-for-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 20px 0 30px 0;
}

.best-for-card {
    background-color: var(--color-blue-transparent);
    color: var(--color-dark);
    padding: 15px;
    text-align: center;
    align-content: center;
}

.service-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    margin-top: 45px;
    width: 100%;
}

.service-buttons>.cta-button {
    width: 50%;
}

.price {
    background-color: var(--color-dark);
    text-align: center;
    align-content: center;
}


/* mycard Grid */
.benefit-grid {
    align-items: stretch;
    display: grid;
    gap: 30px;
    justify-items: center;
}

#challenges-text {
    margin-top: 70px;
}

.mycard-title-group {
    border-color: var(--color-dark);
    border-style: solid;
    border-width: 4px;
    background-color: var(--color-light-a-bit-transparent);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width:992px) {
    #header-company-logo {
        width: 4rem;
        height: 4rem;
    }

    .section-content-column {
        min-width: 600px;
        max-width: 1100px;
        width: 80%;
        margin: auto
    }
}

/******************************************************************************************/
/* FOOTER */
/******************************************************************************************/
#footer-columns {
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 0;
}

#social-media {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 20px auto 10px auto;
}

.social-button {
    color: var(--color-light);
}

.social-button:hover {
    color: var(--color-blue);
}

.copyright-notice {
    margin: 0 50px;
    color: var(--color-light);
    text-align: center;
}

#admin-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    margin-bottom: 10px;
}

#admin-links a {
    color: var(--color-blue);
}

#admin-links a:hover {
    color: var(--color-highlight);
}

.copyright-notice a {
    color: var(--color-blue);
}

.page-footer hr {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border-style: none;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}



/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media only screen and (min-width: 600px) {}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media only screen and (min-width: 768px) {
    .section-content-column {
        width: 90%;
        margin: auto
    }

}

/******************************************************************************************/
/* Large devices (tablets/laptops/desktops, 992px and up) */
/******************************************************************************************/

/* Mouse (hover exists) */
@media only screen and (min-width: 992px) {
    #header-space-filler {
        display: block;
    }

    .section-content-column {
        width: 80%;
        margin: auto
    }


    .best-for-group {
        flex-direction: row;
        gap: 10px;
        margin: 30px 0 30px 0;
    }

    .mycard-title-group {
        border-color: var(--color-dark);
        border-style: solid;
        border-width: 4px;
        background-color: var(--color-light-a-bit-transparent);
        color: var(--color-dark);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    /* Touch Screens */
    @media only screen and (min-width: 992px) and (hover:none) {
        

    }


}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media only screen and (min-width: 1200px) {
    .spaced-content {
        height: 100%;
    }

}