/********************************************************************************/
/* General Grid                                                                 */
/********************************************************************************/
.button-grid-container {
    align-items: stretch;
    display: grid;
    gap: 30px;
    padding: 0px 15px 20px 15px;
    justify-items: center;
}

.button-grid-container .grid-item-button {
    border-color: var(--color-highlight);
}

.grid-of-cards {
    align-items: stretch;
    display: grid;
    gap: 30px;
    padding: 10px 15px 20px 15px;
    justify-items: center;
}

.grid-item {
    position: relative;
    /* To allow child elements to be positioned relative to this container */
    align-items: center;
    background-color: var(--color-transparent);
    border-style: solid;
    border-width: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    padding: 12px 15px;
    text-align: left;
    width: 100%;
    overflow: hidden;
    /* To prevent overflow issues */
    transition: background-color 0.3s, color 0.3s;
}

.grid-icon {
    min-width: 50px;
    width: 50px;
    text-align: center;
}

.grid-icon,
.grid-label {
    transition: opacity 0.3s;
    /* Smooth transition for fading out */
}

.grid-label > br {
    display: none;
}

.grid-quote {
    align-items: center;
    background-color: var(--color-transparent);
    box-sizing: border-box;
    color: var(--color-dark);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    /* Hidden by default */
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.3s;
    /* Smooth fade-in */
    width: 100%;
}

/********************************************************************************/
/* Button Grid                                                                  */
/********************************************************************************/
.grid-item-button {
    background-color: var(--color-light-a-bit-transparent);
    border-color: var(--color-blue);
    border-style: solid;
    border-width: 8px;
    color: var(--color-dark);
    transition: 0.5s;
    box-shadow: 10px 10px 0px 0px var(--color-dark-a-bit-transparent);
}

/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media only screen and (min-width: 600px) {}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media only screen and (min-width: 768px) {
    .button-grid-container {
        padding: 0px 0px 30px 0px;
    }
    
    .grid-of-cards {
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px;
    }
    
    .grid-item {
        flex-direction: column;
        gap: 30px;
        padding: 40px 10px 30px 10px;
        text-align: center;
        justify-content: center;
    }

}

@media only screen and (min-width: 768px) and (hover: hover) {
    .grid-item:hover .grid-icon,
    .grid-item:hover .grid-label {
        opacity: 0;
        /* Fade out icon and label */
    }
    
    .grid-item:hover .grid-quote {
        opacity: 1;
        /* Fade in the quote */
    }
    
    .grid-item:hover .grid-label {
        color: var(--color-transparent)
    }

    .grid-item-button:hover {
        box-shadow: 0 0 var(--color-dark-transparent);
    }
}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media only screen and (min-width: 992px) {
    /* Switch to 3 column grid */

    .grid-item {
        padding: 50px 10px 40px 10px;
    }

    .grid-label > br {
        display: block;
    }
    

}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media only screen and (min-width: 1200px) {
    .spaced-content {
        height: 100%;
    }


}