.page-body {
    background-color: var(--color-light-a-bit-transparent);
    color: var(--color-dark);
    
    padding: 100px 0 120px 0;
    z-index: 10;
    position: relative;
}

a {
    color: var(--color-blue);
}