body {
    font-size: 20px;
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-weight: 400;
}

a {
    font-weight: 500;
    text-decoration: none;
}

.heavy-text {
    font-weight: 700;
}

/* Header */
#header-company-name {
    font-family: var(--title-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.mynavbar.responsive #header-menu-buttons>.menu-button {
    font-size: 30px;
}

.header-button {
    font-size: 20px;
}

.mynavbar.responsive #mynavbar-join-button {
    font-size: 20px;
}

#mynavbar-join-button {
    font-size: 20px;
}

#menu-icon {
    font-size: 30px;
}

/* Footer */
#social-media {
    font-size: 40px;
}

#admin-links {
    font-size: 15px;
}

.copyright-notice {
    font-size: 15px;
}

.footer-button {
    font-size: 22px;
}

/* Page */
.small-mycard-text {
    font-size: 20px;
}

.medium-mycard-text {
    font-size: 30px;
}

.large-mycard-text {
    font-size: 40px;
}

.tagline-title {
    font-size: 60px;
    font-weight: 600;
}

.section-title {
    font-family: var(--body-font);
    font-size: 40px;
    font-weight: 800;
}

.mycard-title {
    font-family: var(--title-font);
    font-size: 40px;
}

.price {
    font-size: 30px;
}

.grid-label {
    font-size: 20px;
    font-weight: 600;
}

.grid-quote {
    font-size: 15px;
    font-style: italic;
}

/* Index Page */
#main-home-title {
    font-size: 45px;
}

.best-for-card {
    font-size: 22px;
    font-weight: 700;
}

.stat-strip {
    font-size: 30px;
}

.testimonial {
    font-size: 20px;
}

/* About Us Page */
.staff-card .name {
    font-family: var(--title-font);
    font-size: 50px;
}

.staff-card .roles {
    font-size: 25px;
}

.staff-card ul {
    font-size: 20px;
}

.staff-card .staff-card-hover-content {
    font-size: 20px;
    font-style: italic;
}

.people-quote {
    font-weight: 800;
}

/* Services Page */
.service-meta-dropdown .collapsible {
    font-size: 20px;
    font-family: inherit;
}

.service-meta-dropdown .collapsible::after {
    font-size: 20px;
}

.service-meta-dropdown .collapsible.active::after {
    font-size: 20px;
}

/* Support Us Page */
.grid-icon {
    font-size: 15px;
}

/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media screen and (min-width: 600px) {

}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }

    #social-media {
        font-size: 40px;
    }

    .mynavbar.responsive #header-menu-buttons>.menu-button {
        font-size: 40px;
    }

    .mynavbar.responsive #mynavbar-join-button {
        font-size: 30px;
    }

    .cta-button {
        font-size: 35px;
    }

    .section-title {
        font-size: 80px;
    }

    .stat-strip {
        font-size: 45px;
    }

    .tagline-title {
        font-size: 80px;
    }

    .footer-button {
        font-size: 30px;
    }

    .grid-label {
        font-size: 22px;
    }

    .grid-icon {
        font-size: 22px;
    }
}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media screen and (min-width: 992px) {
    #main-home-title {
        font-size: 60px;
    }
}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media screen and (min-width: 1200px) {


}