#about-us-title-section {
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: var(--color-blue-a-bit-transparent);

    /* background-image: url("../images/backgrounds/support.avif");
    background-position-y: calc(50% + 100px); */

    /* background-image: url("../images/backgrounds/support2.avif"); */
    /* background-position-y: calc(50% + 20px); */

    background-image: url("../images/backgrounds/jellyfish.jpg");
    background-position-y: calc(50% - 50px);

    padding: 70px 0 150px 0;

    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 150px), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 150px), 0% 100%);
}

#about-us-title-diagonal-strip {
    background-color: var(--color-highlight);
    height: 200px;
    z-index: 2;

    /* Create a diagonal top edge that mirrors the first div */
    clip-path: polygon(0% 150px, 100% 0%, 100% 10px, 0% 100%);
    -webkit-clip-path: polygon(0% 150px, 100% 0%, 100% 10px, 0% 100%);

    margin-top: -150px;
    /* Pulls it up to align */
}

#mission-section {
    padding-top: 30px;
    padding-bottom: 60px;
}

#not-for-profit-section {
    background-color: var(--color-light-a-bit-transparent);
    color: var(--color-dark);
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 10vw, 100% calc(100% - 10vw), 0% 100%);
    padding: 100px 0 120px 0;
    z-index: 10;
    position: relative;
}

#people-id-section .mycard-content {
    align-items: center;
    margin: 80px 0 100px 0
}

#people-grid-section {
    margin-bottom: 80px;
}

#people-grid-section .section-content-column {
    max-width: 100%;
    width: 90%;
}

#alumni-title {
    margin-top: 120px;
}

.staff-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1800px;
}

.staff-card {
    position: relative;
    /* To allow child elements to be positioned relative to this container */
    align-items: center;
    background-color: var(--color-light-a-bit-transparent);
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Adjust spacing if needed */
    justify-content: flex-start;
    padding: 0 0 20px 0;
    text-align: left;
    max-width: 400px;
    overflow: hidden;
    /* To prevent overflow issues */
    transition: background-color 0.3s, color 0.3s;
}

.staff-card .profile-pic {
    max-height: min(100vw, 400px);
    max-width: min(100vw, 400px);
}

.staff-card img {
    width: min(100vw, 400px);
    height: min(100vw, 400px);
}

.staff-card .roles {
    margin-top: -10px;
    margin-bottom: 10px;
}

.staff-card .person-details {
    text-align: center;
    padding: 0 20px;
    width: 100%;
}

.staff-card ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
}

.staff-card .person-details .fa-icon {
    min-width: 2rem;
    text-align: center;
}

.staff-card .cta-button {
    margin-top: 30px;
}

.benefit-icon,
.benefit-label {
    transition: opacity 0.3s;
    /* Smooth transition for fading out */
}

.staff-card .staff-card-hover-content {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 1;
    /* Hidden by default */
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s;
    /* Smooth fade-in */
    width: 100%;
}

.people-quote {
    align-items: center;
    display: flex;
    flex-grow: 1;
}

/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media only screen and (min-width: 600px) {}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media only screen and (min-width: 768px) {
    #not-for-profit-section {
        padding: 200px 0;
    }
    
    #people-grid-section .section-content-column {
        max-width: 100%;
        width: 100%;
    }

    .staff-card {
        flex-direction: column;
        width: fit-content;
    }

    .staff-card .profile-pic {
        max-height: 300px;
        max-width: 300px;
    }

    .staff-card img {
        width: 300px;
        height: 300px;
    }

    .staff-card .person-details {
        text-align: center;
    }

    .staff-card .staff-card-hover-content {
        background-color: var(--color-transparent);
        max-width: 100%;
    }

    .staff-card .people-quote {
        max-width: 250px;
    }
}
@media only screen and (min-width: 768px) and (hover: hover) {
    .staff-card .staff-card-hover-content {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    .staff-card .staff-card-hover-content {
        background-color: var(--color-light-a-bit-transparent);
    }
}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media only screen and (min-width: 992px) {
    #header-space-filler {
        display: block;
    }

}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media only screen and (min-width: 1200px) {
    #people-grid-section .section-content-column {
        max-width: 1400px;
        width: 100%;
    }

    .spaced-content {
        height: 100%;
    }

    .staff-card:hover .profile-pic,
    .staff-card:hover .person-details {
        opacity: 0;
        /* Fade out icon and label */
    }

    .staff-card:hover .staff-card-hover-content {
        opacity: 1;
        /* Fade in the quote */
    }

}