.popup {
    display: none;
    background-color: var(--color-light);
    border-color: var(--color-blue);
    border-style: solid;
    border-width: 15px;
    cursor: default;
    height: 100%;
    left: 50%;
    padding: 1rem;
    position: fixed;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2048;
}

.popup-small {
    height: 45%;
}

.close-button {
    background-color: var(--color-light);
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    margin: 0.8rem 1rem 0 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    z-index: 2049;
}

.close-button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.close-button:active {
    background-color: var(--color-blue);
}

.popup-content {
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup-title {
    font-family: var(--title-font);
    font-size: 4rem;
    margin-right: 10rem;
}

.popup-body .cta-button {
    margin-top: 80px;
}


/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media only screen and (min-width: 600px) {
}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media only screen and (min-width: 768px) {

}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media only screen and (min-width: 992px) {
    .popup {
        width: 80%;
    }
}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media only screen and (min-width: 1200px) {

}