:root {
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-gecko: rgb(62, 195, 220);
    --color-gecko-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-gecko-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-2: #8FDC3E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius-small: 5px;
    --corner-radius-medium: 10px;
    --corner-radius-big: 15px;

    --title-font: "Bebas Neue", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;
}

.button-grid-container {
    align-items: stretch;
    display: grid;
    gap: 30px;
    padding: 0px 40px 30px 40px;
    justify-items: center;
}

.button-grid-container .grid-item-button {
    border-color: var(--color-highlight);
}

.grid-of-buttons {
    align-items: stretch;
    display: grid;
    gap: 30px;
    padding: 10px 40px;
    justify-items: center;
}

.grid-item-button {
    background-color: var(--color-light-a-bit-transparent);
    border-color: var(--color-gecko);
    border-style: solid;
    border-width: 4px;
    color: var(--color-dark);

    transition: 0.3s;
    box-shadow: 10px 10px 0px 0px var(--color-dark-a-bit-transparent);
}

.grid-item-button:hover {
    box-shadow: 0 0 var(--color-dark-transparent);
}

@media (min-width:1200px) {
    /* Switch to 3 column grid */
    .grid-of-buttons {
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}