:root {
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-gecko: rgb(62, 195, 220);
    --color-gecko-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-gecko-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-transparent: rgba(143, 220, 62, 0.3);

    --color-highlight-2: #F2C12E;
    --color-highlight-2: #8FDC3E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius: 0px;

    --title-font: "Bebas Neue", serif;
    --subtitle-font: "Roboto Condensed", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;

}

#support-us-title-section {
    padding-bottom: 5rem;
}

.support-options-section .mycard-content-block {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-light-transparent);
}

#support-intro {
    text-align: center;
    margin: 0 50px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    background: var(--color-dark);
    color: var(--color-light);
    cursor: pointer;
    display: block;
    font-family: var(--title-font);
    font-size: 3rem;
    order: initial;
    padding: 1rem 2rem;
    transition: background ease 0.3s;
    width: 100%;
}

.tabs label:hover {
    background-color: var(--color-light-transparent);
}

.tabs .tab-content {
    background: var(--color-light);
    color: var(--color-dark);
    display: none;
    flex-grow: 1;
    padding: 20px;
    width: 100%;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: var(--color-light-a-bit-transparent);
    color: var(--color-dark)
}

.tabs input[type="radio"]:checked+label+.tab-content {
    display: block;
}

.tabs .tab-content {
    order: 99
}

.tabs label {
    align-items: center;
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 0;
    order: 1;
    text-align: center;
    width: 50%;
}

.support-item {
    background-color: transparent;
    border-color: var(--color-gecko);
    border-style: solid;
    color: var(--color-dark);
}

.support-role-description {
    background-color: var(--color-gecko-transparent);
}

.benefit-item:hover {
    cursor: pointer;
}

.benefit-item:active .support-role-description {
    background-color: var(--color-gecko);
}

/* Popup */
.popup {
    /* display: none; */
    background-color: var(--color-light);
    border-color: var(--color-gecko);
    border-style: solid;
    border-width: 15px;
    cursor: default;
    height: 80%;
    left: 50%;
    padding: 1rem;
    position: fixed;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 2048;
}

.close-button {
    background-color: var(--color-light);
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
    margin: 0.8rem 1rem 0 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    z-index: 2049;
}

.popup-content {
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup-title {
    font-family: var(--title-font);
    font-size: 4rem;
    margin-right: 10rem;
}