.cta-button {
    display: flex;
    align-items: center;
    background-color: var(--color-light-a-bit-transparent);
    border-color: var(--color-blue);
    border-style: solid;
    border-width: 8px;
    box-shadow: 10px 10px 0px 0px var(--color-dark-a-bit-transparent);
    color: var(--color-dark);
    cursor: pointer;
    gap: 10px;
    justify-content: center;
    margin: auto;
    padding: 10px 30px;
    text-decoration: none;
    text-wrap: nowrap;
    transition: 0.3s;
    width: fit-content;
}

.cta-button:hover {
    border-color: var(--color-highlight);
    box-shadow: 0 0 var(--color-dark-transparent);
    color: var(--color-dark);
}

.cta-button:active {
    background-color: var(--color-dark);
    color: var(--color-highlight);
}

.info-button {
    background-color: var(--color-dark);
    color: var(--color-light-a-bit-transparent);
}

.info-button:hover {
    color: var(--color-light-a-bit-transparent);
}

#hideable-cta-button-text {
    display: none;
}

.header-button {
    padding: 10px 20px;
    align-self: center;
}

.menu-button {
    align-self: center;
    color: var(--color-dark);
    font-family: var(--title-font);
    font-size: 1.8rem;
    font-weight: 500;
    height: auto;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 5px 8px 1px 8px;
}

.menu-button:hover {
    background-color: var(--color-neutral);
    border-radius: var(--corner-radius-small);
    color: var(--color-blue);
}

.footer-button {
    align-items: center;
    box-shadow: 10px 10px 0px 0px var(--color-light-transparent);
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Menu Buttons */
#header-menu-buttons {
    display: none;
    flex-wrap: nowrap;
}

#mynavbar-button-text-group {
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
}

/* Join Button */
#mynavbar-join-button {
    display: none;
    margin-right: 20px;
    box-shadow: none;
}


/* Footer Buttons */
.footer-button {
    margin: 0 20px;
    width: 512px;
}

.footer-cta-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* People Card Buttons */
.more-info-button {
    font-size: 2rem;
}

/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media screen and (min-width: 600px) {

}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media screen and (min-width: 768px) {
    #hideable-cta-button-text {
        display: block;
    }

}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media screen and (min-width: 992px) {
    .mynavbar-hamburger {
        display: none;
    }

    #header-menu-buttons {
        display: flex;
        flex-direction: row;
        gap: 3px;
    }

    #mynavbar-join-button {
        box-shadow: 10px 10px 0px 0px var(--color-dark-a-bit-transparent);
        display: flex;
        font-size: 1.4rem;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-left: 5px;
    }

    .footer-cta-buttons {
        gap: 0;
    }

    .footer-button {
        width: 40%;
    }

    #hideable-cta-button-text {
        display: none;
    }

}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media screen and (min-width: 1200px) {
    #hideable-cta-button-text {
        display: block;
    }

}