.collapsible {
    background-color: var(--color-light-a-bit-transparent);
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--color-blue);
    border-radius: var(--corner-radius-big);
    border-width: 6px;
    color: var(--color-dark);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
    font-size: 40px;
    outline: none;
    padding: 15px 30px 10px 30px;
    text-align: left;
    width: 100%;
}

.collapsible .fa-icon {
    width: 60px;
}

.collapsible:hover {
    background-color: var(--color-light);
}

.collapsible.active {
    border-radius: var(--corner-radius-big) var(--corner-radius-big) 0 0;
}

.content {
    background-color: var(--color-light-a-bit-transparent);
    border-radius: 0 0 var(--corner-radius-big) var(--corner-radius-big);
    color: var(--color-dark);
    height: 0;
    overflow: hidden;
    padding: 0 30px;
    text-align: left;
    transition: height 0.3s ease-out, padding 0.3s ease-out;
}

#volunteer-content {
    padding: 0 5px;
}

.collapsible.active+.content {
    height: auto;
}

.collapsible.active+.content>.title {
    margin: 35px 0 15px 0;
}

.collapsible:after {
    content: '+';
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-dark);
    float: right;
    margin-left: 5px;
    margin-right: 15px;
}

.collapsible.active:after {
    content: "-";
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-dark);
    float: right;
    margin-left: 5px;
    margin-right: 15px;
}

.service-meta-dropdown {
    margin: 0 5% 12px 5%;
}

.service-meta-dropdown .collapsible {
    background-color: transparent;
    border-style: solid;
    border-color: var(--color-dark);
    border-radius: var(--corner-radius-big);
    border-width: 3px;
    padding: 5px 35px;
    text-align: center;
}

.service-meta-dropdown .collapsible.active {
    border-radius: var(--corner-radius-big) var(--corner-radius-big) 0 0;
    border-bottom-style: none;
}

.service-meta-dropdown .content {
    background-color: transparent;
}

.service-meta-dropdown .collapsible.active+.content {
    background-color: transparent;
    border-style: solid;
    border-top-style: none;
    border-color: var(--color-dark);
    border-width: 3px;
}


/******************************************************************************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
/******************************************************************************************/
@media screen and (min-width: 600px) {

    
}

/******************************************************************************************/
/* Medium devices (landscape tablets, 768px and up) */
/******************************************************************************************/
@media screen and (min-width: 768px) {
    .content {
        padding: 0 35px 0 35px;
    }
}

/******************************************************************************************/
/* Large devices (laptops/desktops, 992px and up) */
/******************************************************************************************/
@media screen and (min-width: 992px) {

      
}

/******************************************************************************************/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/******************************************************************************************/
@media screen and (min-width: 1200px) {


}