:root {
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-gecko: rgb(62, 195, 220);
    --color-gecko-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-gecko-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-2: #F2C12E;
    --color-highlight-2: #8FDC3E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius: 0px;

    --title-font: "Bebas Neue", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: var(--color-light-a-bit-transparent);
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--color-gecko);
    border-radius: 15px;
    border-width: 6px;
    color: var(--color-dark);
    cursor: pointer;
    outline: none;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 2rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: var(--color-light);
}

.active,
.collapsible:active {
    border-radius: 15px 15px 0 0;

}

/* Style the collapsible content. Note: hidden by default */
.content {
    background-color: var(--color-dark-transparent);
    border-radius: 0 0 15px 15px;
    color: var(--color-light);
    display: block;
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
    text-align: left;
    transition: max-height 0.2s ease-out;
}


/* Add icons */
.collapsible:after {
    content: '+';
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-dark);
    float: right;
    margin-left: 5px;
    margin-right: 15px;
}

.active:after {
    content: "-";
}