:root {
    --color-dark: #002235;
    --color-dark-transparent: rgba(0, 34, 53, 0.3);
    --color-dark-a-bit-transparent: rgba(0, 34, 53, 0.5);
    --color-gecko: rgb(62, 195, 220);
    --color-gecko-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-gecko-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-accent-1: #A3E4B2;
    --color-accent-2: #1E3A5F;
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-2: #F2C12E;
    --color-highlight-2: #8FDC3E;

    --color-bg-accent: #011F34;

    --corner-radius: 0px;
    
    --title-font: "Bebas Neue", serif;
    --subtitle-font: "Roboto Condensed", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;

}

.staff-card-grid {
    background-color: var(--color-highlight-2);
    display: flex;
    gap: 30px;

}

.staff-card {
    background-color: var(--color-dark);
    padding: 20px 30px;
}

#people-grid-section .mycard-content {
    align-items: center;
}