:root {
    --color-dark: rgb(30, 58, 95);
    --color-dark-transparent: rgba(30, 58, 95, 0.3);
    --color-dark-a-bit-transparent: rgba(30, 58, 95, 0.6);
    --color-blue: rgb(62, 195, 220);
    --color-blue-a-bit-transparent: rgba(62, 195, 220, 0.8);
    --color-blue-transparent: rgba(62, 195, 220, 0.3);
    --color-gray: #6B6B6B;
    --color-light: rgba(240, 248, 255, 1);
    --color-light-a-bit-transparent: rgba(240, 248, 255, 0.9);
    --color-light-transparent: rgba(240, 248, 255, 0.3);
    --color-neutral: rgba(79, 79, 79, 0.1);
    --color-highlight: #8FDC3E;
    --color-highlight-transparent: rgba(143, 220, 62, 0.3);

    --color-highlight-2: #F2C12E;
    --color-highlight-2: #8FDC3E;
    --color-transparent: rgba(0, 0, 0, 0);

    --corner-radius: 0px;

    --title-font: "Bebas Neue", serif;
    --subtitle-font: "Roboto Condensed", serif;
    --body-font: "Source Sans 3", serif;
    --cta-font: "Source Sans 3", serif;

}

#support-us-title-section {
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: var(--color-blue-a-bit-transparent);

    /* background-image: url("../images/backgrounds/support.avif");
    background-position-y: calc(50% + 100px); */

    /* background-image: url("../images/backgrounds/support2.avif"); */
    /* background-position-y: calc(50% + 20px); */

    /* background-image: url("../images/backgrounds/jellyfish.jpg");
    background-position-y: calc(50% - 50px); */

    /* background-image: url("../images/backgrounds/support3.avif");
    background-position-y: calc(50% - 50px); */

    /* background-image: url("../images/backgrounds/support4.avif");
    background-position-y: calc(50% - 50px); */

    background-image: url("../images/backgrounds/support5.avif");
    background-position-y: calc(50% - 130px);

    /* background-image: url("../images/backgrounds/support6.avif");
    background-position-y: calc(50% - 0px); */

    /* background-image: url("../images/backgrounds/support7.avif");
    background-position-y: calc(50% - 35px); */

    /* background-image: url("../images/backgrounds/support8.avif");
    background-position-y: calc(50% + 25px); */

    padding: 150px 0;

    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 150px), 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 150px), 0% 100%);
}

#support-us-title-diagonal-strip {
    background-color: var(--color-highlight);
    height: 200px;
    z-index: 2;

    /* Create a diagonal top edge that mirrors the first div */
    clip-path: polygon(0% 150px, 100% 0%, 100% 10px, 0% 100%);
    -webkit-clip-path: polygon(0% 150px, 100% 0%, 100% 10px, 0% 100%);

    margin-top: -150px;
    /* Pulls it up to align */
}

#support-us-title-section {
    padding-bottom: 5rem;
}

.support-options-section .mycard-content-block {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-light-transparent);
}

#support-intro {
    text-align: center;
    margin: 0 50px;
}

.support-role-description {
    background-color: var(--color-blue-transparent);
}

.benefit-item:hover {
    cursor: pointer;
}

.benefit-item:active .support-role-description {
    background-color: var(--color-blue);
}

