:root {
    --max-page-width: 1024px;
    --color-green: rgb(173, 255, 47);
    --color-darkgreen: rgb(0, 128, 0);
    --color-orange: rgb(255 171 0);
    --color-yellow: rgb(242, 255, 0);
    --color-dark: rgb(21, 21, 21);
    --color-light: rgb(245, 245, 245);
    --color-text-highlight: rgba(0, 0, 0, 0.15);

}

body {
    background-color: var(--color-dark);
    background-image: url("images/gecko_big.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 80%;
    color: var(--color-light);
    font-family: "ABeeZee", serif;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    /* Fix it to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Or 100vh for clarity */
    background-color: rgba(0, 0, 0, 0.9);
    /* Adjust opacity */
    z-index: -1;
    /* Place it below content */
    pointer-events: none;
    /* Avoid interaction issues */
}

.text-link:link {
    color: var(--color-orange);
}

.text-link:visited {
    color: var(--color-darkgreen);
}

.text-link:hover {
    color: var(--color-green)
}

.text-link:active {
    color: var(--color-orange);
}

h1 {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Permanent Marker", serif;
    font-weight: 100;
}

p {
    margin: 0;
}

.content-column {
    max-width: var(--max-page-width);
}

.header-panel {
    align-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    padding-top: 48px;
    padding-bottom: 64px;
    text-align: center;
}

.header-panel>h1 {
    font-size: 10rem;
    margin: 0;
}

.header-panel>h2 {
    font-size: 2.5rem;
    margin: 0;
}

#navbar {
    background-color: var(--color-green);
    position: sticky;
    top: 0;
}

#navbar-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: var(--max-page-width);
}

.navbar-block {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.menu-button {
    color: var(--color-dark);
    font-family: "Bebas Neue", serif;
    font-size: 2rem;
    min-width: max-content;
    padding: 0px 20px;
    text-decoration: none;
}

.menu-button:hover {
    background-color: var(--color-text-highlight);
    color: var(--color-dark);
}

.highlight-button {
    background-color: var(--color-orange);
    border-width: 0;
    color: var(--color-dark);
    font-family: "Permanent Marker", serif;
}

.highlight-button:hover {
    background-color: var(--color-yellow);
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.highlight-button:active {
    background-color: var();
    transform: translateY(4px);
}

.cta-button {
    font-size: 3rem;
    text-decoration: none;
    padding: 15px 40px;
}

.section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.section-header {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: inline-block;
    font-family: "Bebas Neue", serif;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 2px 10px;
}

.section-text {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: inline-block;
    font-size: 1.5rem;
    padding: 2px 10px;
}

.section-text-block {
    margin-top: 50px;
    font-size: 1.2rem;
}

.section-line {
    display: block;
    margin-bottom: 15px;
}

.card {
    background-color: hsla(180, 100%, 89%, 0.2);
    border-radius: 20px;
    padding: 50px;
}

.benefit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.benefit-item {
    align-content: center;
    background-color: var(--color-green);
    border-radius: 15px;
    color: var(--color-dark);
    padding: 20px 20px 40px 20px;
}

.benefit-icon {
    margin: 20px 0 30px 0;
}

.card-text-highlight {
    background-color: var(--color-text-highlight);
    border-radius: 15px;
    display: inline-block;
    margin: 64px 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2px;
}

.cta-button-container {
    text-align: center;
    margin: 50px 0;
}

.disclaimer {
    margin-top: 64px;
}

.testimonial {
    font-size: 1.5rem;
    font-style: italic;
}

.highlight-text {
    color: var(--color-green);
    font-weight: 900;
}

.testimonial-author {
    text-align: right;
    padding-right: 80px;
    padding-top: 10px;
}

/* Footer */
.footer {
    align-content: end;
    background-color: var(--color-green);
    color: var(--color-dark);
    margin-top: 64px;
    min-height: 128px;
    padding: 30px 50px;
}

.social-links {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.btn-social {
    color: var(--color-dark);
}

.btn-social:hover {
    color: rgb(60, 60, 60);
}

.btn-social:active {
    color: var(--color-darkgreen);
}

.copyright {
    text-align: center;
}